## Compiled JavaScript files
lib/**/*.js
**/*.js.map

# Firebase Admin SDK credential
*firebase-adminsdk*.json

# Typescript v1 declaration files
typings/

# npm packages
node_modules/

# Firebase environment variables file
.runtimeconfig.json
