.content {
  position: relative;
  transition: margin-left 0.5s ease;
  z-index: 1;
}

.content[data-has-margin='true'] {
  margin-left: 300px;
}

.header {
  background: #6b5344;
  height: 60px;
  line-height: 60px;
  position: relative;
  text-align: center;
}

.title {
  color: #fff;
  display: none;
  font: 20px/60px 'Sofia', cursive;
}

.title[data-is-shown='true'] {
  display: block;
}

@media (min-width: 768px) {
  .title {
    display: block;
    font-size: 30px;
  }
}

.button {
  background: transparent;
  border: 0;
  bottom: 0;
  cursor: pointer;
  height: 25px;
  left: 15px;
  margin: auto;
  position: absolute;
  top: 0;
  width: 30px;
}

.button span,
.button::before,
.button::after {
  border-radius: 2px;
  border-top: 4px solid #fff;
  content: '';
  display: block;
  width: 100%;
}

.button span {
  font-size: 0;
}

.button::before {
  position: absolute;
  top: 0;
}

.button::after {
  bottom: 0;
  position: absolute;
}
