.location {
  background: #fff;
  border-radius: 4px;
  margin-bottom: 20px;
  overflow: hidden;
}

.location__img img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.location__content {
  color: #000;
  padding: 6px 10px 4px;
}

.location__content p {
  font-size: 14px;
  line-height: 1.4;
  display: flex;
  align-items: center;
}

.location__icon {
  margin-right: 0.5em;
}

.location__name {
  color: #6b5344;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 0.5em;
}

.location__meta {
  margin-bottom: 1em;
}

.location__meta p {
  margin: 0 0 0.5em;
}

.location__btn {
  justify-content: center;
  text-align: center;
}

.location__btn a {
  background: #a79c8e;
  color: #fff;
  display: inline-block;
  line-height: 45px;
  text-decoration: none;
  width: 180px;
  height: 45px;
}

.location__btn a:hover {
  background: #f5efde;
  color: #6b5344;
  text-decoration: underline;
}
