.sidebar {
  background: #a79c8e;
  box-sizing: border-box;
  color: #fff;
  padding: 0 10px 28px;
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  overflow-y: scroll;
}

.sidebar__title {
  letter-spacing: 1px;
  line-height: 60px;
}

.attribution {
  margin: 0 auto;
  width: 75%;
}
